<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form style="" method="POST" action="">
        {% csrf_token %}
        <p>{{ object.name }} - {{ object.citizenship }} - {{ object.birth_date }} - {{ object.work_place }} - {{ object.update_date }}</p>
        <p>{{ object.accounts.credits.sum }}</p>
    </form>
</body>
</html>